* {
    box-sizing: border-box;
}

.wrapper {
    width: 1440px;
    margin: 0 auto;
    width:100%
}

.container {
    width:1000px;
    margin: 0 auto;

}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    height:80px  
}

.logo {
    margin-top:-15px
}

.header__items {
    display:flex;
}


.header__menu-list {
    list-style:none;
    display:flex;
    margin-left:115px
}

.header__list-item {
    margin-right:30px;
}

.list__item-block {
    display:flex;
    flex-direction: column;
}


.header__list-links {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #1E266D;
    display: flex;
    flex-direction: column;
}

.header__list-block:hover > .header__list-img {
    opacity:1;
    transition:all 0.4s;
    transform: rotate(360deg)
}

.header__list-img {
    opacity:0;
    margin-bottom:10px;
}

.header__right {
    display:flex;
    margin-left:100px;
    align-items: center;
    margin-top:-39px
}

.header__phone {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    text-align: right;
    color: #1E266D;
    padding-right:20px
}

.header__btn {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    background-color: #3751FF;
    border-radius: 100px;
    border:none;
    outline:none;
    cursor:pointer;
    height:40px;
    width:113px;
}

.header__btn:hover {
    background-color:#05178f;
    transition: 0.9s;
}

.main {
    background: linear-gradient(180deg, rgba(242, 249, 255, 0.12) 0%, #F2F9FF 100%);
    height:878px;
    background-size: cover;
}

.main__article-big {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    color: #1E266D;
    padding-top:100px;
    width:600px;
    text-align:center;
}

.main__article-big-block {
    display:flex;
    justify-content: center;
}

.main__article-small-block {
    display:flex;
    justify-content: center;
    padding-top:28px
}

.main__article-small {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #455880;
}

.main__buttons-block {
    display: flex;
    justify-content: center;
}

.main__buttons {
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 100px;
    border:none;
    outline:none;
    width:200px;
    height:50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    color: #455880;
    margin:28px 22px;
    cursor:pointer;
}

.main__buttons:hover {
    background:#3751FF;
    color:white;
    transition:0.5s
}

.main__img-block {
    position:relative;
    margin-left:35px;
    width:977px;
    height:585px
}

.main__article-small2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: rgba(69, 88, 128, 0.5);

}

.main__teams-list { 
    list-style:none;
    display:flex;
    justify-content: space-around;
    padding-top:49px;
    cursor: pointer;
}

.main__list-img {
    transform: sclale(1);
    transition:0.5s
}

.main__list-img:hover {
    transform: scale(1.1);
    transition:0.5s;
    
}

.main__article-big2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    color: #1E266D;
    padding-top:150px;
    width:600px;
    text-align:center;
}

.main__article-big-block2 {
    display:flex;
    justify-content: center;
}

.main__img-block2 {
    margin-left:-75px;
    padding-top:36px
}

.main__img-info {
    display: flex;
}

.main__mini-articles {
    padding-top:112px;
    padding-left:138px
}

.main__mini-article1 {
    margin-bottom:30px;
}

.main__mini-article2 {
    margin:30px 0px;

}

.main__mini-article3 {
    margin-top:30px
}

.main__mini-article-article { 
    width:300px;
    padding-left:47px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 125%;
    color: #1E266D;
    position:relative
}

.main__mini-article-article2 {
    width:275px;
    position: absolute;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #455880;
    position:relative;
    margin-top:31px;
    margin-left:49px
    
}

.main__mini-article-text {
    display:flex;
    margin-top:-63px;
    margin-left:60px;
    flex-direction: column;
}

.main2 {
    background:#FFF9EA;
    height:1001px;
    margin-top:1530px;
    padding-top:139px;
    width:100%
}

.main__article-big3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: #1E266D;
}

.main__article-small3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 150%;
    text-align: center;
    color: #455880;
    padding-top:40px
}

.main__article-btn2-block {
    display:flex;
    justify-content: center;
}

.main__article-btn2:hover {
    background-color:#05178f;
    transition: 0.9s;
}

.main__article-btn2 {
    background: #3751FF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 100px;
    border:none;
    outline:none;
    width:200px;
    height:50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    color: white;
    margin:28px 22px;
    cursor:pointer;
}

.main__browser-image {
    width:100%;
    height:733px
}

.main3 {
    background:white;
    height:965px;
    width:100%;
    position:relative;
}

.main__article-big4 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: #1E266D;
    padding-top:230px;
    padding-bottom:20px
}

.main__comment {
    padding:30px;
    border:1px solid rgba(69, 88, 128, 0.2);
    border-radius: 4px;
    width:372px;
    height:467px;
    margin:0px 28px;
}

.main__comment-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 180%;
    color: #455880;
    width:286px;
}

.main__comments {
    display: flex;
    justify-content: space-around;
    position: relative;
}

.comment__name {
    display:flex;
    flex-direction:column;
    position:absolute;
    bottom:0;
    margin-left:90px;
    margin-bottom:32px
}

.comment__name-name {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 125%;
    text-align: center;
    color: #1E266D;
}

.comment__name-site {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 180%;
    text-align: center;
    color: #455880;
}

.main4 {
    height:323px;
    width:100%;
    background:#3751FF;
    position: relative;
}

.main__article-big5 {
    color:white;
    width:400px;
    text-align:left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 60px;
    color: #FFFFFF;
    margin-top:100px
}

.main4__inner {
    display: flex;
    justify-content: space-between;
}

.main4__btn {
    width:245px;
    height:56px;
    margin-top:120px;
    display:flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 100px;
    border:none;
    outline:none;
    cursor:pointer;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 110%;
    text-align: center;
    color: #455880;
    margin-left:35px
}

.main4__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 125%;
    text-align: right;
    color: #DFE0EB;
    padding-top:20px;
    margin-right:50px;
}

.main4__span {
    color:#FED385
}

.main4__link {
    text-decoration: none;
    cursor:pointer;

}

.footer {
    background:white;
    width:100%;
    height:660px;
    
}

.footer__inner-article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:space-between;
    width:310px;
    height:290px;
    padding-top:121px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 145%;
    color: #455880;

}

.footer__list-block {
    display: flex;
    justify-content: flex-end;
    margin-top:-160px;
}

.footer__list-main {
    display: flex;

}

.footer__list1 {
    list-style:none;
}

.footer__list2 {
    list-style:none;
}

.footer__list3 {
    list-style:none;
}

.footer__list-article {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 125%;
    color: #1E266D;
    width:170px;
    padding-bottom:30px

}

.footer__list-items {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 225%;
    color: #455880;
    padding-bottom:10px
}

.footer__social {
    display:flex;
    list-style:none;
    justify-content:space-between;
    padding-bottom:10px
}

.footer-social-img {
    transform: rotate(0deg);
    transition: 0.5s;
}

.footer-social-img:hover {
    transform: rotate(360deg);
    transition:1s
}

.footer__list-links {
    text-decoration:none;
    color:#1E266D;
}

.footer__list-links:hover {
    text-decoration: underline;
}

.footer__hr {
    background-color:#8792A1 8%;
    margin-top:85px
}

.footer__copyright {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    color: rgba(69, 88, 128, 0.5);
}

.footer__copyright-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:30px
}

.footer__copyright-list {
    list-style:none;
    display: flex;
    align-items: center;
}

.copyright__list-item {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    text-align: right;
    color: #455880;
    padding-left:35px
}

.copyright__list-links {
    text-decoration:none;
    color: #455880;
}

.copyright__list-links:hover {
    text-decoration:underline
}